<h1>AjaxApp</h1>
<%= form_with url: "posts", method: :post, id: "form" do |form| %>    <%# 入力フォームあるんだから、「どこにおくる？」「HTTPメソッドは？」 %> 
  <%= form.text_field :content, id: "content" %>                                     <%# 「paramsのどのキーの箱に入れる？」%>
  <%= form.submit "投稿する", id: "submit" %>                            <%# idってことはJavaScript使いそうだ %>
<% end %>

<div id="list">
</div>

<% @posts.each do |post| %>
  <div class="post" data-id=<%= post.id %> data-check=<%= post.checked %>>    <%# どうして = ついてる？ %>
    <div class="post-date">
      投稿日時：<%= post.created_at %>
    </div>
    <div class="post-content">
      <%= post.content %>
    </div>
  </div>
<% end %>